{% extends 'admin/base_admin.html.twig' %}

{% block page_title %}Add New User{% endblock %}
{% block breadcrumb %}Add User{% endblock %}

{% block admin_content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Create User</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{{ path('admin_user_list') }}" class="btn btn-secondary">Cancel</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}