{% extends 'backoffice/base_backoffice.html.twig' %}

{% block title %}Détails du programme{% endblock %}
{% block page_title %}Détails du programme{% endblock %}
{% block breadcrumb %}Dashboard / Programmes / Détails{% endblock %}

{% block admin_content %}
<div class="card">
    <div class="card-header">
        <h4 class="mb-0">Programme de formation</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ training_program.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ training_program.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ training_program.description }}</td>
                </tr>
                <tr>
                    <th>Durée</th>
                    <td>{{ training_program.duration }} heures</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ training_program.type }}</td>
                </tr>
                <tr>
                    <th>Date de début</th>
                    <td>{{ training_program.startDate ? training_program.startDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Date de fin</th>
                    <td>{{ training_program.endDate ? training_program.endDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Statut</th>
                    <td>{{ training_program.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a href="{{ path('app_training_program_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <a href="{{ path('app_training_program_edit', {'id': training_program.id}) }}" class="btn btn-warning">Modifier</a>
    </div>
</div>
{% endblock %}