{% extends 'base.html.twig' %}

{% block title %}Salaire index{% endblock %}

{% block body %}
    <h1>Salaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BaseAmount</th>
                <th>BonusAmount</th>
                <th>TotalAmount</th>
                <th>Status</th>
                <th>DatePaiement</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salaire in salaires %}
            <tr>
                <td>{{ salaire.id }}</td>
                <td>{{ salaire.baseAmount }}</td>
                <td>{{ salaire.bonusAmount }}</td>
                <td>{{ salaire.totalAmount }}</td>
                <td>{{ salaire.status }}</td>
                <td>{{ salaire.datePaiement ? salaire.datePaiement|date('Y-m-d') : '' }}</td>
                <td>{{ salaire.createdAt ? salaire.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ salaire.updatedAt ? salaire.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_salaire_show', {'id': salaire.id}) }}">show</a>
                    <a href="{{ path('app_salaire_edit', {'id': salaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salaire_new') }}">Create new</a>
{% endblock %}
