{% extends 'backoffice/base_backoffice.html.twig' %}

{% block title %}Modifier Bonus Rule{% endblock %}

{% block admin_content %}

<h4 class="mb-3">Modifier la règle</h4>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="mb-3">
    {{ form_label(form.nomRegle) }}
    {{ form_widget(form.nomRegle, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.nomRegle) }}
</div>

<div class="mb-3">
    {{ form_label(form.percentage) }}
    {{ form_widget(form.percentage, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.percentage) }}
</div>

<div class="mb-3">
    {{ form_label(form.conditionText) }}
    {{ form_widget(form.conditionText, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_label(form.status) }}
    {{ form_widget(form.status, {'attr': {'class': 'form-select'}}) }}
</div>

<button class="btn btn-primary">Mettre à jour</button>

{{ form_end(form) }}

{% endblock %}