{{ form_start(form, {'attr': {'class': 'form-grid', 'novalidate': 'novalidate'}}) }}
<div class="form-group">{{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}</div>
<div class="form-group">{{ form_row(form.departement, {'attr': {'class': 'form-control'}}) }}</div>
<div class="form-group">{{ form_row(form.employeeType, {'attr': {'class': 'form-control'}}) }}</div>
<div class="form-group">{{ form_row(form.status, {'attr': {'class': 'form-control'}}) }}</div>
<div class="form-group full">{{ form_row(form.description, {'attr': {'class': 'form-control', 'rows': 4}}) }}</div>
<div class="form-group">{{ form_row(form.postedAt, {'attr': {'class': 'form-control'}}) }}</div>
<div class="modal-footer" style="grid-column: span 2; padding: 0; margin-top: 20px;">
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}